html {
    font-family: 'Gill Sans', 'Cherry Bomb One';    
    background-color: rgb(32, 155, 93); /* rgb(50, 50, 236) for blue */

}
img {
    /* display: none; */
    /* still there just not visible */
    /* auto is auto */
    padding:20px 20px 20px 20px;
    border: 40px brown;
    background-color: white; /* rgb(50, 50, 236) for blue */
    border: 5px ridge black;

}
h1 {
    font-family: 'Gill Sans', 'Cherry Bomb One';    
    margin: 20px 20px;
    border: 15px dashed black;
    font-size:80px;
    text-align:center;
    background-color: rgb(163, 192, 163);    padding:20px 20px 20px 20px;

    /* this font family overrides the font family in html */
}
p, li {
    font-family: 'Gill Sans', 'Cherry Bomb One';
    /* display: inline; makes smoosh */
    font-size: 24 px;
    line-height:2;
    letter-spacing:1px;
}
h2 {
    background-color: rgb(163, 192, 163);
    text-align: center;

}
h2:hover {
    transform: scale(1.2);
}