html {     /* anything in here applies to everything */
    background-color: rgb(163, 192, 163); /* rgb(50, 50, 236) for blue */
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color:lavenderblush; /* #db9915 for orange*/
    width: 50vw;
    height: auto;
    /* text-align:center centers the font --> 600 px */
    margin: auto;
    border: 5px solid green;
    padding: 20px 20px 20px 20px;


}

img {
    /* display: none; */
    /* still there just not visible */
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 20px auto; /* auto is auto */
    padding:20px 20px 20px 20px;
    background-color: rgb(163, 192, 163);
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    border: 10px dotted black;
    font-size:80px;
    text-align:center;
    /* this font family overrides the font family in html */
}
p, li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* display: inline; makes smoosh */
    font-size: 24 px;
    line-height:2;
    letter-spacing:1px;
}

p:hover,li:hover {
    transform: scale(1.2);
}
    